@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

* {
 padding: 0;
 margin: 0;
}

.title-miCarrito {
 margin-top: 50px; 
 font-family: 'Permanent Marker', cursive; 
 font-size: 40px;
 text-align: center;
}

.title-cart {
    font-weight: bold;
    display: block;
}

.btn-container {
    padding-bottom: 30px;
}

.cart-container ul li {
 list-style: none;
 font-family: 'Roboto', sans-serif;
 font-size: 18px;
 margin-left: 20px;
 text-align: center;
}

.cart-container {
 margin-top: 100px;
 display: grid;
 grid-template-columns: repeat(2, 1fr);
}

.cart-content {
    margin-right: 100px;
    margin-top: 100px;
}

.cart-img {
 margin-top: 5px; 
 width: 500px;
 padding-left: 130px;
}

.cart-container > .cart-content {
    grid-column:span 2;
}

.link-finalizar-compra{
    text-align: center;
    margin-bottom: 100px;
}

  .link-finalizar-compra {
      font-size: 22px;
      text-decoration: none;
      margin-top: 20px;
      color: black;
      text-shadow: 3px 2px 1px #9daef5;
      font-weight: bold;
      font-family: 'Roboto', sans-serif;
      font-style: italic;
    
  }

  .link-finalizarC {
    font-size: 22px;
    text-decoration: none;
    margin-top: 20px;
    color: black;
    text-shadow: 3px 2px 1px #9daef5;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    padding-bottom: 120px;

  }

  .link-finalizarC:hover {
    color:#fc67fa; 
  }

  .link-finalizar-compra:hover {
       color:#fc67fa; 
  }

  .p-cart {
    margin-top: 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: bold;
  }

  .mensaje-continuar-comprando {
    padding-bottom: 80px;
  }
