@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
}



.itemDetail-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    padding: 15px;
    min-height: 80vh;
    position: relative;
    padding-bottom: 90px;
    margin-top: 50px;
  }
  
  .itemDetail-container .img-itemDetail {
    height: auto;
    width: 70%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .itemDetail-container .itemDetail {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 50px;
  }
 
  .itemDetail-container .itemDetail .item-title {
    font-size: 23px;
    font-weight: bold;
    margin: 10px 0px;
    text-align: center;
  }
  .itemDetail-container .itemDetail p {
    font-size: 18px;
    margin: 10px 5px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
     text-align: center;
  }
  

  .item-title {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}


.finalCompra {
    display: none;
}

.button-TerminarCompra{
  padding-top: 50px;
  
}

