@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.visible {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}

.cartQuantity{
  font-size: 16px;
  text-align: center;
  font-family: 'Roboto', sans-serif;  
  position: absolute;
  font-weight: 10px;
  color: white;
  list-style: none;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #fc67fa;
  margin: auto;
  text-shadow: 3px 2px 1px #9daef5;
  -webkit-box-shadow: 5px 5px 20px #666666;
  -moz-box-shadow: 5px 5px 20px #666666;
  box-shadow: 5px 2px 20px #666666;
}
