
.images{
  padding-left: 280px;
  padding-right: 200px;
  
}

.itemPrice{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-align: center;
    padding-left: 270px;
    padding-right: 200px;
}

