@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

* {
 padding: 0;
 margin: 0;
}

.title-checkout {
  margin-top: 50px; 
  margin-bottom: 40px;
  font-family: 'Permanent Marker', cursive; 
  font-size: 35px;
}

.checkout-container ul li {
   list-style: none;
   font-family: 'Roboto', sans-serif;
   font-size: 18px;
}

.font-checkout {
   font-weight: bold;
   font-family: 'Roboto', sans-serif;
   font-size: 18px;
}

.btn {
    margin: 5px 5px 5px 5px;
    color: white;
    font-family: 'Roboto', sans-serif;
    background-color:#EF629F;
    background-image: -webkit-linear-gradient(top, #EECDA3, #EF629F);
    background-image: -moz-linear-gradient(top, #EECDA3, #EF629F);
    background-image: -ms-linear-gradient(top, #EECDA3, #EF629F);
    background-image: -o-linear-gradient(top, #EECDA3, #EF629F);
    background-image: linear-gradient(to bottom, #EECDA3, #EF629F);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    text-shadow: 3px 2px 1px #9daef5;
    -webkit-box-shadow: 6px 5px 24px #666666;
    -moz-box-shadow: 6px 5px 24px #666666;
    box-shadow: 5px 4px 24px #666666;
    text-decoration: none;
    margin-bottom: 8px;
}

.btn:hover {
    background:#EF629F ;
    background-image: -webkit-linear-gradient(top, #EF629F, #EECDA3);
    background-image: -moz-linear-gradient(top, #EF629F, #EECDA3);
    background-image: -ms-linear-gradient(top, #EF629F, #EECDA3);
    background-image: -o-linear-gradient(top, #EF629F, #EECDA3);
    background-image: linear-gradient(to bottom, #EF629F, #EECDA3);
    text-decoration: none;
  }

.link-volver-home {
    font-size: 22px;
    text-decoration: none;
    margin-top: 90px;
    padding-bottom: 50px;
    color: black;
    text-shadow: 3px 2px 1px #9daef5;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
}

.link-volver-home:hover {
     color:#EF629F; 
}
