@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

* {
 padding: 0;
 margin: 0;
}

.title-checkout {
  margin-top: 20px; 
  margin-bottom: 40px;
  font-family: 'Permanent Marker', cursive; 
  font-size: 35px;
}

.checkout-container ul li {
   list-style: none;
   font-family: 'Roboto', sans-serif;
   font-size: 18px;
}


.form-container {
width: 60%;
margin: auto;
margin-top: 50px;
margin-bottom: 90px;
background-color: rgba(202, 199, 199, 0.5);
padding: 30px;
border-radius: 4px;
}

.row {
   margin-top: 10px;
   margin-bottom: 20px;
}

.name-checkout {
   margin-right: 2px;
}

label {
   font-weight: 700;
}

.font-checkout {
   font-weight: bold;
   font-family: 'Roboto', sans-serif;
   font-size: 18px;
}

.button-finalizar {
margin-bottom: 30px;
}

.volver-al-home {
   margin-top: 100px;
   margin-bottom: 100px;
}

.link-volver-home {
    font-size: 22px;
    text-decoration: none;
    margin-top: 90px;
    padding-bottom: 50px;
    color: black;
    text-shadow: 3px 2px 1px #9daef5;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
}

.link-volver-home:hover {
     color:#EF629F; 
}
