
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
}

.navbar {
width: 80%;
margin: auto;
padding: 35px 0;
display: flex;
align-items: center;
justify-content: space-between;
}

.navbar ul li {
list-style: none;
display: inline-block;
margin:0 20px;
font-family: 'Roboto', sans-serif;
font-size: 18px;
font-weight: bold;
color:black;
position: relative;
padding-top: 35px;
}

.navbar ul li::before {
content: "";
height: 3px;
width: 0%;
background-color: #fc67fa;
position: absolute;
left: 0;
bottom: -12px;
transition: 0.4s ease-out;
}

.navbar ul li:hover:before{
 width: 100%;
}

.navbar-superior {
 background-color: #fc67fa;
 text-shadow: 3px 2px 1px #9daef5;
 box-shadow: 6px 5px 24px #999797;
 box-shadow: 6px 5px 24px #979696;
 background-size: cover;
 height: 60px;
}

.text-navbar {
    margin-right: 15px;
    color: white;
    font-size:20px;
    font-weight: 600;
}

.text-navbar {
    animation-duration: 3s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

