nav {
    background-color: white;
}

.linkNav {
    color: black;
    font-family: 'Lato', sans-serif;
    font-size: 20;
    font-weight: bold;
    margin: 0 10px;
    margin-left: 130px;
    padding-left:35px;
}

.navbar-container {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-right: 0 0 20px;
    padding: 50px 20px;
}

.brand {
padding-left: 10px;

}
