
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

nav {
    background-color: white;
}

.linkNav {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin: 0 10px;
    margin-left: 130px;
    padding-left:35px;
}

.navbar-container {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-right: 0 0 20px;
    padding: 50px 20px;
    text-decoration: none;
}

.brand {
padding-left: 10px;
}

li:hover {
    border-bottom: 3px solid pink;
}