@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
}


footer {
    width: 100%;
    padding:50px 0px;
    background: color #fc67fa;
    background-image: -webkit-linear-gradient(top, #f4c4f3, #fc67fa);
    background-image: -moz-linear-gradient(top, #f4c4f3, #fc67fa);
    background-image: -ms-linear-gradient(top, #f4c4f3, #fc67fa);
    background-image: -o-linear-gradient(top, #f4c4f3, #fc67fa);
    background-image: linear-gradient(to bottom, #f4c4f3, #fc67fa);
    background-size: cover;
}

.footer-container {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
}

.box-footer {
    color: black;
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.box-footer li {
list-style: none;
}

.box-footer .a-cerca-de {
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    font-size: 18px;
}

.box-footer h2 {
   margin-bottom: 30px;
   font-weight: 700;
}

.box-copyright {
    max-width:1200px;
    margin:auto;
    text-align: center;
}